@import "color";
@import "tipografias";



footer {
    background-color: $color-fondoCajas;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
}

.CopyrightMatiasAndrade {
    justify-content: start;
    text-align: center;
    font-size: 15px;
    font-family: $tipografia-C;
}

.bakaEslogan {
    justify-content: center;
    text-align: center;
    font-family: $tipografia-A;
    font-size: 20px;

    a {
        color: $color-letras;
    }

}

.iconos {
    justify-content: center;
    text-align: center;
    margin: 10px 0px;

    a {
        padding: 0px 15px;
    }

    img {
        width: 45px;
    }
}