@import "color";
@import "tipografias";
@import "mixins";

.listaProductos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 30px auto;


    a {
        color: $color-letras;
    }
}

.producto {
    border: 2px solid $bordes;
    padding: 0px 15px;
    color: $color-letras;
    font-size: 2vw;
    text-align: center;
    font-family: 'Oleo Script';
    background-color: $color-fondoCajas;

    &:nth-child(4) {
        border-right: 2px solid $bordes;
    }
}



.seccionProductos {
    display: grid;
    grid-template-rows: 4;

    img {
        width: 300px;
        height: 380px;
        object-fit: cover;
        box-shadow: 0px 0px 10px rgb(141, 141, 141);
    }
}

.cafes {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.titleCafes {
    @include titleProductos;
}

.boxImagesCafes {
    @include boxImages;

    div {
        @include descriptionImage;
    }
}

.titleCookies {
    @include titleProductos;
}

.boxImagesCookies {
    @include boxImages;

    div {
        @include descriptionImage;
    }
}

.titlePorciones {
    @include titleProductos;
}

.boxImagesPorciones {
    @include boxImages;

    div {
        @include descriptionImage;
    }
}

.titlePostres {
    @include titleProductos;
}

.boxImagesPostres {
    @include boxImages;

    div {
        @include descriptionImage;
    }
}