@import "color";
@import "tipografias";

@media only screen and (min-width:260px) and (max-width:576px) {

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    .navDesktop {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100vh;
        background-color: $color-fondos;
        box-shadow: 1px 1px 8px black;
        transform: translateY(-94%);
        transition: 1s;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            li {

                border-top: 2px solid $color-contenidoNavMobile;
                width: 100%;
                text-align: center;
                padding-top: 30px;

                &:first-child {
                    border-top: none;

                }

                a {
                    color: $color-contenidoNavMobile;
                    font-family: 'Baloo 2', cursive;
                    font-size: 5vw;

                    i {
                        transform: translateY(10px);
                    }
                }
            }
        }

        &:hover {
            transform: translateY(-5%);
            justify-content: flex-end;
            align-items: stretch;
            padding: 40px 0px;
            height: 80vh;
        }

    }

    .logoHeader {
        display: none;
    }

    main {
        p {
            font-size: 12px;
        }
    }

    .imageHistoriaLocal {
        width: 40vw;
    }

    .boton {
        width: 55%;
        margin: 0px auto;

        a {
            font-size: 12px;
        }
    }

    .iconos img {
        width: 30px;

    }

    .opcionesDeProbalo p {
        font-size: 4vw;
    }
}

@media only screen and (min-width:260px) and (max-width:1199px) {


    .imagenLocal img {
        width: 40vw;
        height: 40vw;
    }


    .imagenLocal {
        font-size: 5vw;
    }

    .imagenUbicacion {
        font-size: 5vw;
    }

    iframe {
        width: 40vw;
        height: 40vw;
    }

    .datosContactoLocal img {
        width: 5vw;
    }

    .datosUbicacion img {
        width: 5vw;
    }

    .articleDondeEstamos div div a {
        font-size: 4vw;
    }

    .opcionesDeProbalo img {
        width: 40vw;
    }
}

@media only screen and (min-width:260px) and (max-width:576px)
{
    .listaProductos {
            display: flex;
            flex-direction: column;
            width: 200px;
    
            a {
                font-size: 25px;
            }
        }
    
        .seccionProductos {
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            h2 {
                font-size: 50px;
            }
    
            article {
                width: 250px;
    
                div {
                    div {
                        width: 250px;
                        padding-bottom: 20px;
                        font-size: 15px;
                    }
                }
            }
    
            .boton {
                width: 240px;
    
                a {
                    font-size: 17px;
    
                }
            }
        }
    
        .boxImagesCafes {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
    
        }
    
        .boxImagesCookies {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
    
        }
    
        .boxImagesPorciones {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
    
        }

        .boxImagesPostres {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
    
        }
    
        .seccionProductos {
            img {
                width: 200px;
                height: 220px;
    
            }
        }
}

@media only screen and (min-width:577px) and (max-width:768px) {

    main {
        p {
            font-size: 14px
        }
    }

    .iconos {
        img {
            width: 35px;
        }
    }

    .listaProductos {
        display: flex;
        flex-direction: column;
        width: 200px;

        a {
            font-size: 25px;
        }
    }

    .seccionProductos {
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 300px;
            height: 380px;

        }

        article {
            width: 450px;

            div {
                div {
                    width: 450px;
                    padding-bottom: 20px;
                    font-size: 20px;
                }
            }
        }

        h2 {
            font-size: 80px;
        }

        .boton {
            width: 250px;

            a {
                font-size: 25px;

            }
        }
    }

    .boxImagesCafes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .boxImagesCookies {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .boxImagesPorciones {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .boxImagesPostres {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (min-width:769px) and (max-width:920px) {
    .iconos {
        img {
            width: 33px;
        }
    }

    .listaProductos {
        display: flex;
        flex-direction: column;
        width: 200px;

        a {
            font-size: 25px;
        }
    }

    .seccionProductos {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: 100px;
        }

        article {
            width: 650px;

            div {
                div {
                    width: 450px;
                    padding-bottom: 20px;
                    font-size: 30px;
                }
            }
        }

        .boton {
            width: 250px;

            a {
                font-size: 25px;

            }
        }
    }

    .boxImagesCafes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .boxImagesCookies {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .boxImagesPorciones {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .boxImagesPostres {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .seccionProductos {
        img {
            width: 300px;
            height: 380px;

        }
    }
}

@media only screen and (min-width:921px) and (max-width:1200px) {

    main {
        p {
            font-size: 25px;
        }
    }

    .listaProductos {
        display: flex;
        flex-direction: column;
        width: 200px;

        a {
            font-size: 25px;
        }
    }

    .seccionProductos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .seccionProductos {
        article {
            width: 650px;

            div {
                div {
                    width: 450px;
                    padding-bottom: 20px;
                    font-size: 30px;
                }
            }
        }
    }

    .seccionProductos {
        .boton {
            width: 250px;

            a {
                font-size: 25px;
            }

        }

        h2 {
            font-size: 100px;
        }
    }

    .boxImagesCafes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .boxImagesCookies {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .boxImagesPorciones {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .boxImagesPostres {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .seccionProductos {
        img {
            width: 300px;
            height: 380px;

        }
    }

    .ubicacion {
        align-items: center;
    }

}

@media only screen and (min-width:260px) and (max-width:991px) {
    main {
        p {
            text-align: center;
        }
    }
}

@media only screen and (min-width:1201px) and (max-width:1550px) {
    main p {
        font-size: 30px;
    }

}

@media (min-width:1551px) {

    main {
        p {
            font-size: 35px;
        }
    }
}

@media (min-width:577px) {

    .flechaMenuAbajo {
        display: none;
    }

    .navDesktop {
        width: 100%;
        margin: 30px auto;

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0px;

            li {
                border: 2px solid $bordes;
                border-right: 0px solid $bordes;
                padding: 0px 10px;
                margin: 0px;
                transition: 0.5s ease;

                &:hover {
                    background-color: $color-fondoCajas;
                }

                &:nth-child(5) {
                    border-right: 2px solid $bordes;
                }

                a {
                    color: $color-letras;
                    font-size: 2.3vw;
                    font-family: 'Baloo 2', cursive;
                }

            }

        }
    }

    .active {
        background: color 0;
        font-weight: bold;
        font-style: italic;
    }

    .imageHistoriaLocal {
        width: 31vw;
    }

}

@media (max-width: 1200px) {
    .ubicacion {
        align-items: center;

    }
}

@media (min-width: 1200px) {

    .imagenLocal {
        img {
            width: 30vw;
            height: 30vw;
        }
    }

    iframe {
        width: 30vw;
        height: 30vw;
    }

    .opcionesDeProbalo {
        img {
            width: 30vw;
        }
    }

}